<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>New Customer</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Janta School</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="registration">Register New Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="aboutUS" >Our Staff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/findAllStudent">find All Student</a>
                </li>

            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>
    <div align="center">
        <a href="/findAllStudent">find All Student</a>
        <a href= "/findAllEmployee">Find All Employee</a>
        <p>-------------------</p>
        <a href="home">Back To Home</a>
        <!--<h2>New Customer</h2>
        <form action="save" method="post" modelAttribute="customer">
            <table border="0" cellpadding="5">
                <tr>
                    <td>Name: </td>
                    <td><input path="name" /></td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td><input path="email" /></td>
                </tr>
                <tr>
                    <td>Address: </td>
                    <td><input path="address" /></td>
                </tr>    
                <tr>
                    <td colspan="2"><input type="submit" value="Save"></td>
                </tr>                    
            </table>
        </form>-->
    </div>
    




</body>
</html>